@CHARSET "UTF-8";

@charset "utf-8";
/* CSS Document */
/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	font-weight: normal;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main
	{
	display: block;
}

body {
	font-size: 14px;
	background: #f6f6f6;
	color: #222;
	font-family: "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial,
		sans-serif;
	line-height: 150%;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,iframe {
	border: 0;
}

li {
	list-style: none;
}

a,input,button,textarea,select {
	outline: none;
}

a,label {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

i,cite,em,var,address,dfn {
	font-style: normal;
}

:focus {
	outline: 0
}

img {
	display: block;
	margin: 0;
	padding: 0;
}

td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.f-cb:after {
	display: block;
	clear: both;
	visibility: hidden;
	content: ""
}

.f-cb {
	zoom: 1
}

/*reset end*/
strong {
	font-weight: bold;
}

a {
	color: #4c4c4c;
	font-size: 13px;
}

.wrap {
	width: 1190px;
	padding: 0px 5px;
	margin: 0 auto;
}

.ml {
	margin-left: 5px;
}

.mr {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.ml10 {
	margin-left: 10px;
}

.mlr {
	margin: 0 5px;
}

.mb {
	margin-bottom: 20px;
}

.mb10 {
	margin-bottom: 10px;
}

.pos_r {
	position: relative;
}

.pos_a {
	position: absolute;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.flow_hidden {
	overflow: hidden;
}

.pos_r {
	position: relative;
}

.border_none {
	border: none;
}

.red_color {
	color: #e73027;
}

.orange_color {
	color: #fd3701;
}

.blue_color {
	color: #14aef7;
}

.font13 {
	font-size: 13px;
}

.color_333 {
	color: #333;
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #888;
}

.color_ddd {
	color: #ddd;
}

.height36 {
	max-height: 36px;
}

.height18 {
	height: 18px;
}

.font12 {
	font-size: 12px;
}

.a_link:hover .link_hover {
	color: #e73027;
}

.a_link_line:hover {
	text-decoration: underline;
}

.yuan_padding {
	padding: 0 2px;
}

input[type=text] {
	font-family: microsoft yahei, hiragino sans gb, wenquanyi micro hei,
		sans-serif;
}

.input_box {
	height: 20px;
	border: solid 1px #ddd;
}

.select_box {
	height: 22px;
	border: solid 1px #ddd;
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}
/*header*/
.header {
	margin: 0 auto; /* width:1200px; */
	background: #FFF;
}

.header .top_box {
	width: 100%;
	height: 30px;
	background: #f8f8f8;
	border-bottom: 1px solid #eee;
	font-family: "microsoft yahei";
}

.header .top_box .weixin {
	left: 0;
	visibility: hidden;
	position: absolute;
	height: 180px;
	top: 1px;
}

.weixin .usercard_layer_inside {
	width: 107px;
	height: 114px
}

.weixin .usercard_layer {
	left: 0;
	position: absolute;
	top: 30px;
	z-index: 9999999
}

.weixin .usercard_layer_outside {
	background: url(../images/ui_semi_bg.png) repeat scroll 0 0 transparent;
	border-radius: 5px 5px 5px 5px;
	padding: 3px;
	position: relative;
	width: 120px;
	height: 136px;
	z-index: 5
}

.weixin .usercard_container {
	width: 100px;
	height: 116px;
	background: none repeat scroll 0 0 #fff;
	padding: 10px
}

.weixin .layer_arrow_inside_a,.weixin .layer_arrow_outside_a {
	background: url(../images/ui_items.png) no-repeat scroll 0 0 transparent
}

.weixin .layer_arrow_inside_a {
	background-position: -20px 0;
	height: 6px;
	left: 21px;
	position: absolute;
	top: -3px;
	width: 12px
}

.weixin .layer_arrow_outside_a {
	background-position: 0 0;
	height: 5px;
	left: 20px;
	position: absolute;
	top: -5px;
	width: 14px
}

.weixin .textCont,.weixin .wxCode {
	
}

.weixin .textCont {
	line-height: 22px
}

.weixin .textCont #wxt1 {
	color: #333;
	font-size: 14px;
	margin-top: 3px;
	text-align: center;
}

.weixin .textCont p {
	
}

.weixin .textCont h2 {
	display: none;
}

.top_li_a {
	line-height: 30px;
	font-size: 12px;
}

.top_info .area li {
	float: left;
}

.top_info .area .li_a {
	display: inline-block;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	padding: 0 8px;
}

.top_info .area li label {
	color: #e73027;
	padding: 0 5px;
}

.top_info .area li .li_a:hover {
	color: #e73027;
}

.top_info .top_fenzhan {
	position: relative;
}

.drop_list {
	position: absolute;
	left: 0;
	background: #fff;
	border: solid 1px #ddd;
	z-index: 100000;
	display: none;
}

.drop_list .fenzhan_a {
	display: block;
	line-height: 26px;
	font-size: 12px;
	color: #666;
	border-bottom: solid 1px #ddd;
	cursor: pointer;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.drop_list .fenzhan_a:hover {
	background: #f5f5f5;
	color: #333;
}

.fenzhan_list {
	width: 65px;
	top: 25px;
}

.fenzhan_list .fenzhan_a {
	text-indent: 10px;
	font-family: '宋体';
}

.top_info span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	float: left;
	margin-left: 10px;
	color: #888;
}

.top_info span a {
	color: #888;
	font-size: 12px;
}

.top_info .app_down {
	width: 80px;
	padding-left: 30px;
	background: url(../images/phone_b.jpg) no-repeat 6px 6px;
	font-size: 12px;
}

.top_info span .two_code {
	position: absolute;
	top: 30px;
	left: 0;
	display: none;
	border: solid 1px #f2f2f2;
}

.top_info .app_down:hover .two_code {
	display: block;
}

.top_info span .login {
	color: #1d9cfe;
}

.top_info span .money {
	color: #1d9cfe;
}

.main_top {
	background: #FFF;
}

.main_top_box {
	background: #FFF;
	width: 1190px;
	height: 60px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0 auto;
}

.main_top .logo {
	display: inline-block;
	margin: 4px 0 0 10px;
	height: 46px;
}

.main_top .logo img {
	width: 100%;
	height: 100%;
}

.main_top .search {
	margin: 5px 0 0 150px;
}

.main_top .search_block {
	display: block;
	position: relative;
	height: 32px;
}

.main_top .search_block .search_box {
	width: 426px;
	border: solid 2px #d30000;
	height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main_top .search_block .search_allpro {
	display: inline-block;
	float: left;
	width: 84px;
	border-right: solid 1px #ddd;
	line-height: 30px;
	font-size: 13px;
	text-indent: 10px;
}

.main_top .search_block .kw_result {
	width: 429px;
	border: 1px solid #666;
	position: absolute;
	top: 34px;
	z-index: 999;
	min-height: 100px;
	background: #fff;
	border-top: none;
	display: none;
}

.main_top .search_block .kw_result p {
	padding: 5px 10px;
	font-size: 12px;
	color: #00a8dc;
	width: 88%;
	float: left;
}

.main_top .search_block .kw_result .close_r {
	width: 0;
	text-align: left;
	color: #666;
}

.main_top .search_block .kw_result ul li {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.hover_s {
	background: #ccc;
}

.main_top .search_block .kw_result ul li span {
	font-size: 12px;
	color: #00a8dc;
	float: right;
	margin-right: 15px;
}

.search_box .select_all {
	position: relative;
}

.search_box .select_all .selectall_list {
	width: 83px;
	top: 30px;
}

.main_top .search_block .search_allpro:hover {
	background: #f2f2f2;
}

.search_box .select_all .selectall_list p:hover {
	background: #f2f2f2;
	color: #000;
}

.main_top .search_block .search_input {
	border: none;
	width: 250px;
	height: 30px;
	background: #fff;
	color: #666;
	font-size: 13px;
	text-indent: 15px;
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.main_top .search_block .search-txt-right {
	position: absolute;
	height: 26px;
	padding: 5px 5px 0 0;
	right: 110px;
	top: 0;
}

.main_top .search_block .search-txt-right a {
	color: #d19497;
	font-size: 12px;
	padding: 2px 12px;
	background: #fff3d5;
	margin: 7px 5px 0 0;
	border-radius: 20px;
}

.main_top .search_block .search-txt-right a:hover {
	color: #d13b51;
}

.main_top .search_block .searchBtn {
	display: inline-block;
	width: 72px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	background: #d30000;
	border-radius: 0 5px 5px 0;
}

.main_top .search_block .searchBtn:hover {
	background: #fd3701;
}

.main_top .search_link {
	color: #888;
	font-size: 13px;
	width: 544px;
	overflow: hidden;
	height: 24px;
	margin-top: 4px;
}

.main_top .search_link a {
	display: inline-block;
	line-height: 20px;
	margin: 0 6px 0 0;
	color: #888;
}

.main_top .search_link a:hover {
	color: #e73027;
}

.main_top .telphone {
	margin-top: 4px;
}

.main_top .telphone li {
	float: left;
}

.main_top .telphone .tel_pic {
	text-align: center;
	margin-top: 4px;
}

.main_top .telphone .tel_num {
	height: 60px;
	padding-left: 10px;
	line-height: 20px;
}

.main_top .telphone .tel_num .time {
	font-size: 13px;
	color: #4c4c4c;
	line-height: 23px;
}

.main_top .telphone .tel_num .phone {
	font-size: 22px;
	color: #d30000;
}
/*nav*/
.main_nav {
	width: 100%;
	height: 38px;
	background: #B60F0E;
	margin: 0 auto;
}

.main_nav .mnav_link {
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	font-weight: bold;
}

.main_nav .area_name {
	width: 240px;
	height: 38px;
	background: #d30000;
	margin-left: -5px;
}

.main_nav .area_name a {
	margin-left: 28px;
	margin-right: 75px;
}

.main_nav .nav_con {
	width: 950px;
	height: 38px;
	overflow: hidden;
}

.main_nav .nav_con li {
	float: left;
	height: 38px;
}

.main_nav .nav_con li .mnav_link {
	display: inline-block;
	float: left;
	color: #fff;
	font-size: 15px;
	line-height: 38px;
	padding: 0 15px;
	height: 38px;
}

.main_nav .nav_con li .mnav_link:hover {
	background: #c50f06;
}

.main_nav .nav_con li .line {
	display: inline-block;
	width: 0x;
	height: 20px;
	background: #8d0100;
	margin-top: 9px;
}

.nav_con .currentnav .mnav_link {
	background: #8d0100;
}

/*nav02*/
.main_nav02 {
	width: 100%;
	height: 36px;
	background: #fff;
	margin: 0 auto;
	border-bottom: solid 2px #e73027;
}

.main_nav02 .mnav_link {
	color: #fff;
	font-size: 16px;
	line-height: 38px;
	font-weight: bold;
}

.main_nav02 .area_name {
	width: 240px;
	height: 38px;
	background: #d91a11;
}

.main_nav02 .area_name a {
	margin-left: 28px;
	margin-right: 75px;
}

.main_nav02 .nav_con02 {
	width: 950px;
}

.main_nav02 .nav_con02 li {
	float: left;
	height: 38px;
}

.main_nav02 .nav_con02 li .mnav_link {
	color: #333;
	font-weight: normal;
	font-size: 15px;
	line-height: 36px;
	padding: 0 20px;
	border-right: solid 1px #888;
}

.main_nav02 .nav_con02 li:hover {
	background: #e73027;
}

.main_nav02 .nav_con02 li:hover .mnav_link {
	color: #fff;
}

.nav_con02 .currentnav {
	background: #e73027;
}

/*leftNav*/
.leftNav {
	width: 238px;
	height: 360px;
	border: solid 1px #e73027;
	background: #fff;
	position: absolute;
	z-index: 15;
	top: 37px;
	left: 0px;
}

.leftNav .leftNav_li {
	width: 228px;
	height: 59px;
	margin: 0 5px;
	border-top: solid 1px #ddd;
	background: #FFF;
}

.leftNav .myfirstli:hover .country {
	border-top: solid 1px #FFF !important;
	background: #FFF;
}

.leftNav .mylastli:hover .country {
	border-bottom: solid 1px #FFF !important;
	background: #FFF;
}

.leftNav .leftNav_li .country {
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-right: solid 1px #fff;
}

.leftNav .country {
	width: 226px;
	height: 57px;
	overflow: hidden;
	margin-left: -5px;
	padding-left: 10px;
	background: #FFF;
}

.leftNav .leftNav_li:hover .country {
	border-top: solid 1px #e73027;
	border-bottom: solid 1px #e73027;
	width: 228px;
	border-right: solid 1px #fff;
}

.leftNav .country dt {
	margin-bottom: 2px;
	margin-top: 6px;
}

.leftNav .country dt a {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
}

.leftNav .country dd a {
	line-height: 16px;
	display: inline-block;
	margin: 5px 7px 0 0;
}

.leftNav .country dd a:hover {
	color: #e73027;
}

.subleftNav {
	width: 699px;
	height: 360px;
	background: #FFF;
	position: absolute;
	top: -1px;
	left: 239px;
	display: none;
	border: solid 1px #e73027;
	border-left: none;
	border-radius: 0 5px 5px 0;
	z-index: 11
}

<!--
.leftNav li:hover .subleftNav {
	display: block;
}

-->
.subleftNav .tourlist {
	padding: 10px 20px;
	overflow: hidden;
	width: 300px;
	float: left;
	height: 322px;
}

.subleftNav .tourlist .tourlist_li {
	width: 310px;
	overflow: hidden;
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}

.subleftNav .tourlist .tourlist_li .list_title {
	font-size: 14px;
	color: #4c4c4c;
	font-weight: bold;
	width: 310px;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
}

.subleftNav .tourlist .tourlist_li .list_link {
	border-bottom: dashed #ddd 1px;
	overflow: hidden;
	padding-bottom: 5px;
}

.subleftNav .tourlist .tourlist_li .list_link em {
	float: left;
	font-style: normal;
	white-space: nowrap;
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #ccc;
	margin: 4px 10px 4px 0;
	padding: 0 10px 0 0;
}

.subleftNav .tourlist .tourlist_li .list_link em a {
	font-size: 12px;
}

.subleftNav .tourlist .tourlist_li .list_link em a:hover {
	color: #e73027;
}
/*bottom*/
.bottom {
	width: 100%;
	background: #3c3c3c;
	line-height: 18px;
	overflow: hidden;
}

.bottom_box {
	width: 1163px;
	margin: 0 auto;
	overflow: hidden;
	color: #c2c2c2;
	font-size: 12px;
}

.bottom_box .why_select {
	overflow: hidden;
	border-bottom: solid 1px #666;
	padding: 10px 0;
	font-family: '微软雅黑';
}

.bottom_box .why_select dl {
	float: left;
}

.bottom_box .why_select dd {
	margin: 4px 60px 0 60px;
}

.bottom_box .why_select h1 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.bottom_box .why_select h1.title {
	line-height: 50px;
	padding-right: 25px;
}

.bottom_box .why_select h2 {
	font-size: 14px;
	color: #fff;
	line-height: 26px;
}

.bottom_box .why_select .icon {
	width: 50px;
	height: 50px;
}

.bottom_box .contact_us {
	overflow: hidden;
	padding: 10px 0;
	border-bottom: solid 1px #666;
}

.bottom_box .contact_us .contact_link dl {
	float: left;
	margin-left: 20px;
	margin-right: 90px;
	font-size: 13px;
}

.bottom_box .contact_us .contact_link dl dt {
	font-size: 16px;
	margin-bottom: 10px;
}

.bottom_box .contact_us .contact_link dl dd {
	line-height: 24px;
}

.bottom_box .contact_us .contact_link dl dd a {
	font-size: 13px;
	color: #c2c2c2;
}

.bottom_box .contact_us .contact_link dl dd a:hover {
	color: #fff;
}

.bottom_box .contact_us .contact_code {
	padding-left: 40px;
	border-left: solid 1px #666;
	margin-right: 20px;
}

.bottom_box .contact_us .contact_code h1 {
	line-height: 30px;
}

.bottom_box .contact_us .contact_code h1 span {
	display: block;
	float: left;
}

.bottom_box .contact_us .contact_code h1 a {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.bottom_box .contact_us .contact_code .two_code {
	margin-right: 40px;
}

.bottom_box .contact_us .contact_code .two_code img {
	width: 120px;
	height: 120px;
	border: solid 1px #ddd;
}

.bottom_box .contact_us .contact_code .two_code p {
	text-align: center;
	line-height: 24px;
}

.bottom_box .licence {
	padding: 10px 0 25px 0;
}
/*right fixed*/
.right_fixed {
	position: fixed;
	top: 50%;
	right: 5px;
	z-index: 10000;
}

.right_fixed .fixed_colomn {
	display: block;
	width: 63px;
	height: 63px;
	border: solid 1px #ddd;
	background: #FFF;
	margin-bottom: 8px;
	text-align: center;
	font-size: 13px;
	position: relative;
}

.right_fixed .fixed_colomn:hover {
	background: #ff6633;
	border-color: #ff6633;
	color: #FFF;
}

.right_fixed .weixin_code {
	display: none;
	width: 135px;
	height: 232px;
	position: absolute;
	top: -1px;
	left: -130px;
	background: url(../images/weixin_code_right.png) no-repeat;
}

.right_fixed .weixin_code p {
	width: 95px;
	font-size: 12px;
	color: #666;
	padding: 10px 16px;
	line-height: 18px;
}

.right_fixed .weixin_code p.text01 {
	padding-bottom: 115px;
	font-size: 14px;
	color: #333;
}

.right_fixed .fixed_colomn:hover .weixin_code {
	display: block;
}
/*content*/
.content {
	background: #f6f6f6;
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}
/*面包屑*/
.top-guide-box {
	height: 38px;
}

.top-guide {
	font-size: 13px;
	color: #666;
	line-height: 28px;
	overflow: hidden;
	padding: 5px 0;
}

.top-guide span {
	color: #666;
	margin: 0 5px;
}

.top-guide a {
	font-size: 13px;
	color: #666;
	padding: 0px 5px;
}

.top-guide a:hover {
	text-decoration: underline;
}

.top-guide .current_page {
	width: 900px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/**广告位**/
.adv-position {
	width: 224px;
	height: 274px;
	margin-top: 18px;
	border: 1px solid #e5e5e5;
}

.adv-position img {
	width: 224px;
	height: 274px;
	display: block;
}

/*商品详情页*/
.prosum_box {
	width: 1188px;
	border: solid 1px #ddd;
	background: #fff;
	overflow: hidden;
	margin-bottom: 20px;
}

.prosum_box .prosum_left {
	margin: 20px;
	overflow: hidden;
	width: 684px;
	float: left;
}

.prosum_box .prosum_left .big_img {
	width: 570px;
	height: 340px;
}

.prosum_box .prosum_left .little_img img {
	width: 110px;
	height: 70px;
	opacity: 0.6;
}

.prosum_box .prosum_left .little_img img:hover {
	opacity: 1.0;
}

.prosum_box .prosum_left .cur_img img {
	opacity: 1.0;
}

.prosum_box .prosum_left .up_img,.prosum_box .prosum_left .down_img {
	width: 110px;
	height: 20px;
	background: #333;
}

.prosum_box .prosum_left .up_img {
	background: url("../images/arrows.jpg") no-repeat;
	background-position: 0px -20px;
}

.prosum_box .prosum_left .up_img_disable {
	background-position: 0px 0px;
}

.prosum_box .prosum_left .down_img {
	background: url("../images/arrows.jpg") no-repeat;
	background-position: 0px -60px;
}

.prosum_box .prosum_left .down_img_disable {
	background-position: 0px -40px;
}

.prosum_box .prosum_left dt {
	float: left;
	margin-right: 4px;
}

.prosum_box .prosum_left dd {
	float: left;
}

.prosum_box .prosum_left dd a {
	display: block;
	margin-bottom: 4px;
}

.prosum_box .prosum_right {
	float: left;
	width: 444px;
	margin: 20px 20px 20px 0px;
}

.prosum_box .prosum_right .pros_title {
	font-size: 18px;
	line-height: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}

.prosum_box .prosum_right .pros_text {
	color: #ff4500;
	margin-bottom: 25px;
	border-top: solid 1px #bbb;
	padding-top: 10px;
	font-weight: bold;
}

.prosum_box .prosum_right .pros_price {
	color: #666;
	margin-bottom: 10px;
}

.prosum_box .prosum_right .pros_address {
	padding: 10px 0;
	color: #666;
}

.prosum_box .prosum_right .pros_address .check_map {
	color: #2577e3;
	margin-left: 20px;
}

.prosum_right .pros_price .first_price strong {
	font-size: 26px;
}

.prosum_right .pros_price .second_price {
	margin-left: 10px;
	text-decoration: line-through;
	display: inline-block;
}

.prosum_right .collect_share {
	margin-top: 20px;
}

.prosum_right .collect_share .collect_box {
	margin: 0 15px 0 5px;
}

.prosum_right .collect_share .share_box {
	margin-left: 15px;
}

.collect_icon {
	display: block;
	background: url(../images/icon.png) no-repeat;
	background-position: -400px -350px;
	width: 20px;
	height: 15px;
	margin-top: 3px;
	float: left;
}

.collect_iconed {
	background-position: -400px -375px;
}
/*page*/
.page {
	float: right;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0;
	line-height: 30px;
	background: #f6f6f6;
}

.page-block {
	overflow: hidden;
}

.page .page-block li {
	float: left;
	overflow: hidden
}

.page .page-block li a {
	height: 25px;
	float: left;
	line-height: 25px;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	color: #666;
	background: #fff;
	border: 1px solid #dbdede;
	overflow: hidden
}

.page .page-block li a:hover {
	background: #fe4f32;
	color: #fff;
}

.page .page-block li a.selected {
	background: #ffd6d6;
	border: 1px solid #ff9f8f
}

.page .page-block li a.prev-bt {
	background: #fff;
	border: none;
}

.page .page-block li a.next-bt {
	width: 65px;
	height: 25px;
	color: #666;
	border: 1px solid #dbdede;
	background: #fff;
	overflow: hidden;
}

.page .page-block li a.next-bt:hover {
	color: #fff;
	background: #fe4f32;
	overflow: hidden;
}

.page a,.page span {
	padding: 8px 10px;
	display: block;
	float: left;
	border: solid 1px #ddd;
	font-size: 12px;
	color: #888;
	line-height: 12px;
	margin: 0 4px;
	background: #FFF;
}

.page .current {
	background: #fd3701;
	color: #FFF;
	border-color: #fd3701;
}

.page .page_a01 {
	padding: 8px 15px;
}

.page .page_a02 {
	padding: 8px 10px;
}

.page a:hover {
	background: #fedfdf;
}

.page .selected_page {
	background: #fd3701;
	color: #FFF;
	border-color: #fd3701;
}

.all_notes_page {
	float: right;
	margin: 0 auto;
	padding: 20px 0;
	overflow: hidden;
}

.all_notes_page a,.all_notes_page span {
	padding: 8px 10px;
	display: block;
	float: left;
	border: solid 1px #ddd;
	font-size: 12px;
	color: #444;
	line-height: 12px;
	margin: 0 4px;
}

.all_notes_page .current {
	background: #fd3701;
	color: #FFF;
	border-color: #fd3701;
}

.all_notes_page .page_a01 {
	padding: 8px 15px;
}

.all_notes_page .page_a02 {
	padding: 8px 10px;
}

.all_notes_page a:hover {
	background: #fedfdf;
}

.all_notes_page .selected_page {
	background: #fd3701;
	color: #FFF;
	border-color: #fd3701;
}
/*友情链接*/
.mdd_foot {
	width: 1200px;
	margin: 10px auto;
	font: 12px/1.5 arial, Simsun, sans-serif;
}

.mdd_foot .seo_201305 {
	clear: both;
	color: #999999;
	line-height: 2;
	padding: 10px 15px;
	width: 1170px;
}

.mdd_foot .seo_nav {
	height: auto;
	display: block;
	margin-right: -5px;
	overflow: hidden;
	padding-left: 80px;
}

.seo_201305 .seo_hot dt,.seo_nav dt {
	display: inline;
	float: left;
	margin-left: -80px;
	width: 90px;
}

.seo_201305 h4 {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.seo_201305 .seo_hot dd,.seo_nav dd {
	float: left;
	margin-right: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.seo_201305 a {
	color: #666;
	text-decoration: none;
	font-family: '宋体';
}

.youqingm-c a:hover {
	color: #333;
}
/*icon*/
.icon {
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.icon03 {
	background-image: url(../images/icon03.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.icon_blue_phone {
	width: 35px;
	height: 36px;
	background-position: -122px -400px;
}

.i_whyselect01 {
	background-position: 0 -200px;
}

.i_whyselect02 {
	background-position: 0 -250px;
}

.i_whyselect03 {
	background-position: 0 -300px;
}

.i_whyselect04 {
	background-position: 0 -350px;
}

.i_blue_phone {
	width: 38px;
	height: 38px;
	background-position: 0px -400px;
}

.leftNav .icon {
	width: 21px;
	height: 21px;
	margin-right: 5px;
}

.i_leftnav01 {
	background-position: -100px -50px;
}

.i_leftnav02 {
	background-position: -100px -100px;
}

.i_leftnav03 {
	background-position: -100px -150px;
}

.i_leftnav04 {
	background-position: -100px -200px;
}

.i_leftnav05 {
	background-position: -100px -250px;
}

.i_leftnav06 {
	background-position: -100px -300px;
}

.i_nav_arrowdown {
	width: 15px;
	height: 15px;
	background-position: -250px -350px;
}

.i_nav_arrowup {
	width: 15px;
	height: 15px;
	background-position: -200px -350px;
}

.leftNav .leftNav_li:hover .i_leftnav01 {
	background-position: -150px -50px;
}

.leftNav .leftNav_li:hover .i_leftnav02 {
	background-position: -150px -100px;
}

.leftNav .leftNav_li:hover .i_leftnav03 {
	background-position: -150px -150px;
}

.leftNav .leftNav_li:hover .i_leftnav04 {
	background-position: -150px -200px;
}

.leftNav .leftNav_li:hover .i_leftnav05 {
	background-position: -150px -250px;
}

.leftNav .leftNav_li:hover .i_leftnav06 {
	background-position: -150px -300px;
}

.i_hot_sale_left {
	width: 4px;
	height: 22px;
	background-position: -200px -300px;
	float: left;
}

.i_hot_sale_right {
	width: 7px;
	height: 19px;
	background-position: -250px -300px;
	float: left;
}

.i_right_arrow {
	width: 6px;
	height: 10px;
	background-position: -200px -250px;
	margin-top: 7px;
	margin-right: 5px;
}

.i_right_arrow2 {
	width: 5px;
	height: 8px;
	background-position: -200px -100px;
	margin-left: 5px;
}

.i_down_arrow {
	width: 6px;
	height: 6px;
	vertical-align: middle;
	border-left: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -3px;
	margin-left: 6px;
}

.i_phone {
	width: 8px;
	height: 16px;
	background-position: -100px -350px;
	margin-right: 5px;
}

.area a:hover .i_phone {
	background-position: -150px -350px;
}

.area a:hover .i_down_arrow {
	background-position: -150px -400px;
}

.views_num {
	
}

.i_viewsnum {
	width: 14px;
	height: 16px;
	background-position: -200px 0;
	margin-right: 5px;
}

.like_num {
	margin-right: 5px;
}

.i_likenum {
	width: 16px;
	height: 16px;
	background-position: -200px -50px;
	margin-right: 5px;
}

.i_close {
	width: 10px;
	height: 10px;
	background-position: -200px -150px;
	cursor: pointer;
	float: right;
}

.i_transform {
	width: 16px;
	height: 20px;
	background-position: -200px -200px;
	margin: 0 8px 0 8px;
	float: left;
}

.product_head .icon {
	width: 32px;
	height: 30px;
	float: left;
	margin-right: 12px;
}

.i_prohead01 {
	background-position: -50px -198px;
}

.i_prohead02 {
	background-position: -50px -248px;
}

.i_prohead03 {
	background-position: -50px -298px;
}

.i_prohead04 {
	background-position: -50px -348px;
}

.i_prohead05 {
	background-position: -50px -398px;
}

.right_fixed .icon {
	width: 63px;
	height: 28px;
}

.i_service {
	background-position: -250px -100px;
	margin-top: 8px;
	margin-bottom: 2px;
}

.i_backtop {
	background-position: -250px -150px;
	margin-top: 19px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
}

.right_fixed .fixed_colomn:hover .i_service {
	background-position: -350px -100px;
}

.right_fixed .fixed_colomn:hover .i_backtop {
	background-position: -250px -200px;
}

.right_fixed .safe_info .i_safe {
	background: url(../images/safe_icon.png) no-repeat;
	background-position: 22px 0px;
	background-size: 20px 20px;
	margin: 8px 0 2px 0
}

.right_fixed .safe_info:hover .i_safe {
	background: url(../images/safe_icon_cur.png) no-repeat !important;
	background-position: 22px 0px !important;;
	background-size: 20px 20px !important;;
	margin: 8px 0 2px 0 !important;;
}

.i_hot_right {
	width: 58px;
	height: 26px;
	background-image: url(../images/icon.png);
	display: inline-block;
	float: right;
	margin-top: 14px;
	background-position: -200px -400px;
}

.i_left_img {
	width: 18px;
	height: 28px;
	background-image: url(../images/icon.png);
	background-position: -350px -150px;
	margin-right: 15px;
	margin-top: 5px;
}

.i_right_img {
	width: 18px;
	height: 28px;
	background-image: url(../images/icon.png);
	background-position: -400px -150px;
	margin-top: 5px;
}

.i_left_img2 {
	width: 18px;
	height: 28px;
	background-image: url(../images/icon.png);
	background-position: -350px -200px;
	margin-right: 15px;
	margin-top: 5px;
}

.i_right_img2 {
	width: 18px;
	height: 28px;
	background-image: url(../images/icon.png);
	background-position: -400px -200px;
	margin-top: 5px;
}

.travel_cont h2 .icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-image: url(../images/icon_travel_cont.png);
}

.i_travel01 {
	background-position: 0px 0px;
}

.i_travel02 {
	background-position: 0px -50px;
}

.i_travel03 {
	background-position: 0px -100px;
}

.i_travel04 {
	background-position: 0px -150px;
}

.i_travel05 {
	background-position: 0px -200px;
}

.i_travel06 {
	background-position: 0px -250px;
}

.i_travel07 {
	background-position: 0px -300px;
}

.travel_cont .day_plan .icon {
	display: inline-block;
	width: 28px;
	height: 28px;
	float: left;
	margin-top: 15px;
	margin-right: 12px;
}

.i_traffic {
	background-position: -250px -250px;
}

.i_hotel {
	background-position: -300px -250px;
}

.i_meals {
	background-position: -350px -250px;
}

.i_route {
	background-position: -400px -250px;
}

.i_sub_title {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-position: -400px -300px;
	margin-right: 6px;
	margin-top: -2px;
}

.i_date_box {
	width: 11px;
	height: 6px;
	background-position: -325px -200px;
}

.i_icon_prev {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0px 0px;
	width: 45px;
	height: 100px;
	cursor: pointer;
	left: 245px;
	position: absolute;
	top: 125px;
	z-index: 4;
	opacity: .7;
}

.i_icon_next {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: -55px 0px;
	width: 45px;
	height: 100px;
	cursor: pointer;
	right: 10px;
	position: absolute;
	top: 125px;
	z-index: 4;
	opacity: .7;
}

.i_agree_button {
	display: block;
	width: 297px;
	height: 54px;
	background-image: url(../images/icon04.png);
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0px 0px;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

.i_agree_button:hover {
	background-position: 0px -75px;
}

.i_order_success {
	width: 27px;
	height: 27px;
	background-position: -350px -400px;
	margin-right: 10px;
}

.i_order_fail {
	width: 27px;
	height: 27px;
	background-position: -400px -400px;
	margin-right: 10px;
}

.i_login_name {
	width: 22px;
	height: 23px;
	background-position: -300px -500px;
	margin: 8px 0 0 13px;
}

.i_key_name {
	width: 22px;
	height: 23px;
	background-position: -350px -500px;
	margin: 8px 0 0 13px;
}

.i_big_selected {
	display: none;
	position: absolute;
	right: 1px;
	bottom: 1px;
	width: 20px;
	height: 20px;
	background-position: -450px -500px;
}

.i_orange_arrow {
	background-position: -400px -500px;
}

.i_process {
	width: 214px;
	height: 74px;
	background-position: -0px -700px;
}

.i_process01 {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	background-position: -300px -700px;
	font-size: 22px;
	color: #fb9803;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	margin-right: 16px;
	margin-left: 32px;
	margin-top: 21px;
}

.i_process_bg01 {
	display: block;
	float: left;
	width: 32px;
	height: 74px;
	background-position: -250px -700px;
	margin-left: 32px;
}

.i_temai01 {
	background-position: -700px 0;
}

.i_temai02 {
	background-position: -700px -50px;
}

.i_temai03 {
	background-position: -700px -100px;
}

.price_button .button .i_tm_btn {
	width: 22px;
	height: 22px;
	background-position: -700px -250px;
	margin-left: 4px;
	margin-top: -2px;
}

.price_button .button:hover .i_tm_btn {
	background-position: -700px -300px;
}

.price_button .button2 .i_tm_btn {
	width: 18px;
	height: 18px;
	background-position: -700px -350px;
	margin-left: 4px;
}

.price_button .button2:hover .i_tm_btn {
	background-position: -700px -400px;
}

.price_button .button3 .i_tm_btn {
	width: 18px;
	height: 18px;
	background-position: -700px -400px;
	margin-left: 4px;
}

.price_button .button3:hover .i_tm_btn {
	background-position: -700px -350px;
}

.i_time_limit01 {
	width: 22px;
	height: 22px;
	background-position: -700px -150px;
	margin-right: 10px;
}

.i_time_limit02 {
	display: block;
	float: left;
	width: 26px;
	height: 52px;
	background-position: -700px -450px;
	margin-right: 10px;
}

.i_report_text {
	width: 20px;
	height: 14px;
	background-position: -750px 0;
	margin-right: 5px;
}

.i_report_tnote {
	width: 16px;
	height: 16px;
	background-position: -750px -50px;
	margin-top: -2px;
	margin-right: 5px;
}

.i_report_tnote2 {
	width: 12px;
	height: 12px;
	background-position: -750px -75px;
	margin-top: -2px;
	margin-right: 5px;
}

.i_like_note {
	display: block;
	width: 36px;
	height: 36px;
	background-position: -750px -150px;
}

.like_notes:hover .i_like_note {
	background-position: -750px -100px;
}

.i_like_note2 {
	display: block;
	width: 25px;
	height: 25px;
	background-position: -750px -250px;
}

.like_notes:hover .i_like_note2 {
	background-position: -750px -200px;
}

.i_share_note {
	display: block;
	width: 25px;
	height: 25px;
	background-position: -750px -300px;
}

.i_hotpro_rec {
	display: inline-block;
	margin: -2px 8px 0 15px;
	width: 21px;
	height: 21px;
	background-position: -750px -550px;
}

.i_tncont_nav {
	width: 16px;
	height: 24px;
	background-position: -750px -350px;
}

.i_day_time {
	width: 20px;
	height: 20px;
	background-position: -750px -400px;
	margin-top: -3px;
	margin-right: 5px;
}

.i_day_delete {
	width: 20px;
	height: 20px;
	background-position: -750px -425px;
	margin-top: -3px;
	margin-right: 5px;
}

.i_smore_add {
	width: 11px;
	height: 11px;
	background-position: -750px -500px;
	margin: 0 8px;
}

.i_smore_up {
	width: 11px;
	height: 6px;
	background-position: -750px -525px;
	margin: 0 8px;
}

.i_search_but {
	width: 24px;
	height: 24px;
	background-position: -300px -400px;
	margin: 9px 0 0 13px;
}

.i_filter_up {
	width: 9px;
	height: 10px;
	background-position: -100px 0;
	margin-left: 5px;
}

.i_filter_down {
	width: 9px;
	height: 10px;
	background-position: -100px -25px;
	margin-left: 5px;
}

.i_one_way {
	width: 25px;
	height: 25px;
	background-position: -100px -50px;
	margin-top: -2px;
}

.i_two_way {
	width: 25px;
	height: 25px;
	background-position: -100px -75px;
	margin-top: -2px;
}
/*广告样式*/
.head_adv_t {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}

.head_adv_t .adv_middle {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}

.head_adv_t img {
	display: block;
}

#winxinad {
	background: #000000;
	position: fixed;
	bottom: 0px;
	height: 145px;
	width: 100%;
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	z-index: 998;
}

#winxinad img {
	height: 145px;
	width: 1200px;
	z-index: 998;
}

#winxinad .wxad {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#winxinad .closead {
	position: absolute;
	left: 1145px;
	top: 2px;
	color: #9aa1a8;
	font-family: Simsun;
	font-size: 30px;
	cursor: pointer;
	z-index: 999;
}

#loading_div {
	margin: 10px 0 10px 0;
}

#loading_div  img {
	float: left;
}

.hidnav {
	display: none !important
}

/*正三角形*/
.arrow-up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #333;
}

/**验证样式**/
.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #71b83d;
	padding-left: 20px;
	background: url(images/right.png) no-repeat left center;
}

.Validform_wrong {
	color: red;
	padding-left: 20px;
	white-space: nowrap;
	background: url(images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #ffe7e7;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: absolute;
	top: 0px;
	right: 50px;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135,
		Color='#999999');
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	line-height: 25px;
	height: 25px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #999;
	background: -moz-linear-gradient(top, #999, #666 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999',
		endColorstr='#666666');
	background: #338bef;
}

#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited
	{
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #ccc;
}

#Validform_msg .Validform_info {
	padding: 8px;
	border: 1px solid #bbb;
	border-top: none;
	text-align: left;
	color: black;
}

.loading_span {
	margin: 10px;
}

.loading_span img {
	float: left;
	margin: 0 10px 0 0;
}

.man_sale {
	background: red;
	color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 3px;
	text-align: center;
}

.li_sale {
	background: red;
	color: #fff;
	display: inline-block;
	height: 18px;
	line-height: 16px;
	padding: 0 3px;
	text-align: center;
	font-weight: bold;
}

.search_sale_label {
	background: rgba(0, 0, 0, 0)
		url("/Public/theme/default/home/images/zt/gd_hotel2017/bq.png")
		no-repeat top left/100% 89%;
	padding: 4px 15px;
}

.coupon_sign {
	background: #fff3ea none repeat scroll 0 0;
	color: #D6343B;
	margin: 10px 10px 10px 0;
	padding: 0 10px;
}

#contract_block {
	display: none;
}

.sale_out {
	background: url("/Public/theme/default/home/images/sold_out.jpg")
		no-repeat;
	background-size: 60%;
	width: 300px;
	height: 142px;
}

#sales_introduction {
	color: #F02706;
	margin-bottom: 30px;
	font-weight: bolder;
}

.tms_number {
	margin-left: 10px;
}

.contract_content {
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.hide {
	display: none;
}

.sb-t {
	height: 38px;
	font-family: 微软雅黑;
	background: #fff;
	border-bottom: 2px solid #FE4F32;
}

.sb-t li {
	float: left;
}

.sb-t li a {
	display: inline-block;
	height: 38px;
	background: #fff;
	line-height: 38px;
	padding: 0 20px;
	text-decoration: none;
	font-size: 15px;
	color: #333;
	font-weight: bold;
	float: left
}

.sb-t li a:hover {
	height: 38px;
	border: none;
	line-height: 38px;
	background: #febfbf;
}

.sb-t li a.selected {
	height: 38px;
	background: #FE4F32;
	line-height: 36px;
	color: #fff;
	border: none;
}

.good_coupons_block {
	margin: 5px 0 0 0;
	color: #ff6600;
	border: solid 0px #fe7973;
	background: #ffefee;
	padding: 10px;
	color: #D6343B;
}

.travel_good_coupons_block {
	width: 250px;
	float: left;
	overflow: hidden;
	margin-right: 6px;
}

.travel_good_coupons_block .good_coupons_title_t {
	margin-bottom: 5px;
}

.good_coupons_title {
	color: #ff1200;
	border: solid 1px #ff1200;
	border-radius: 5px;
	padding: 2px 3px;
	margin-right: 5px;
}

.m_l_70 {
	margin-left: 70px;
}

.m_l_20 {
	margin-left: 20px;
}

.coupon_text {
	margin: 5px 0 0 0;
	color: #ff6600;
	border: solid 0px #fe7973;
	background: #ffefee;
	color: #666;
}

.edit_form .edit_right .feiyong_mes .dicount_text {
	color: red;
	font-weight: bold;
}

#fee_detail_div {
	background: white;
}

.agree_contact_block {
	border: 1px solid #ddd;
	padding: 6px;
	font-size: 15px;
	font-weight: bold;
	height: 20px;
	cursor: pointer;
}

.checkbox_kuang {
	width: 18px;
	height: 18px;
	background: url('/Public/theme/default/home/images/checkbox.jpg');
	top: 0px;
	left: 20px;
	display: inline-block;
	float: left;
	margin-right: 6px;
}

.checkbox_kuang_selected {
	background-position: 20px 0;
}

.agree_contact_block span {
	display: block;
	float: left;
	margin-left: 10px;
}

.safe_know {
	color: #0065bb;
}

/**全屏搜索向导 **/
#search-guide-hzw {
	width: 100%;
	height: 45px;
	box-shadow: 0 2px 8px #ccc;
	background-color: #4C5A65;
	position: fixed;
	top: 0px;
	z-index: 99999;
	font-family: 微软雅黑;
	left: 0;
}

#search-guide-hzw ul {
	width: 1200px;
	margin: 0 auto;
	height: 45px;
}

#search-guide-hzw ul li {
	float: left;
	height: 45px;
	padding-right: 16px;
	padding-left: 20px;
	border-right: 1px solid #EEEEEE;
}

#search-guide-hzw ul li:hover,#search-guide-hzw .allselected,#search-guide-hzw .ptselected,#search-guide-hzw .stselected,#search-guide-hzw .rhselected,#search-guide-hzw .fkselected
	{
	background: #FE4F32;
}

#search-guide-hzw ul li:hover a,#search-guide-hzw ul li:hover em {
	color: #ffffff;
}

#search-guide-hzw .allselected  a,#search-guide-hzw .allselected  em {
	color: #ffffff;
}

#search-guide-hzw .ptselected  a,#search-guide-hzw .ptselected  em {
	color: #ffffff;
}

#search-guide-hzw .stselected  a,#search-guide-hzw .stselected  em {
	color: #ffffff;
}

#search-guide-hzw .rhselected  a,#search-guide-hzw .rhselected  em {
	color: #ffffff;
}

#search-guide-hzw .fkselected  a,#search-guide-hzw .fkselected  em {
	color: #ffffff;
}

#search-guide-hzw ul li a {
	text-decoration: none;
	color: #ffffff;
	display: block;
	float: left;
	margin-top: 13px;
	padding: 0 5px;
}

#search-guide-hzw ul li a em {
	color: #ffffff;
}

#search-guide-hzw ul li i {
	display: block;
	margin-top: 13px;
	width: 20px;
	height: 20px;
	float: left;
}

#search-guide-hzw #allsearchicon {
	background: url(../images/search_icon2.png) -160px 2px;
}
/*#search-guide-hzw .allselected #allsearchicon, #search-guide-hzw ul li:hover #allsearchicon{background:url(../images/search_icon.png) -4px -33px;}*/
#search-guide-hzw #gtsearchicon {
	background: url(../images/search_icon2.png) -160px -39px;
}
/*#search-guide-hzw .ptselected #gtsearchicon, #search-guide-hzw ul li:hover #gtsearchicon{background:url(../images/search_icon.png) -31px -33px;}*/
#search-guide-hzw #tksearchicon {
	background: url(../images/search_icon2.png) -160px -79px;
}
/*#search-guide-hzw .stselected #tksearchicon, #search-guide-hzw ul li:hover #tksearchicon{background:url(../images/search_icon.png) -59px -33px;}*/
#search-guide-hzw #htsearchicon {
	background: url(../images/search_icon2.png) -160px -118px;
}
/*#search-guide-hzw .rhselected #htsearchicon, #search-guide-hzw ul li:hover #htsearchicon{background:url(../images/search_icon.png) -87px -33px;}*/
#search-guide-hzw #ftsearchicon {
	background: url(../images/search_icon2.png) -160px -158px;
}
/*#search-guide-hzw .fkselected #ftsearchicon, #search-guide-hzw ul li:hover #ftsearchicon{background:url(../images/search_icon.png) -115px -33px;}*/
.hotel_package_box {
	overflow: hidden;
	background-color: #fff;
}

.hotel_package_box .title {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #fe4f32;
	padding: 8px 10px 8px 7px;
	color: #555;
}

.hotel_package_box .package_pro {
	display: block;
	margin: 12px 0;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

.hotel_package_box .pro_img {
	width: 90px;
	height: 64px;
	float: left;
}

.hotel_package_box .pro_info {
	margin-left: 98px;
}

.hotel_package_box .pro_info h2 {
	font-weight: normal;
	color: #181818;
	line-height: 17px;
	height: 36px;
	overflow: hidden;
	white-space: normal;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 4px;
	-webkit-line-clamp: 2;
}

.hotel_package_box .pro_info h3 {
	font-weight: normal;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hotel_package_box .pro_info .price {
	color: #ff6600;
	line-height: 26px;
	position: absolute;
	bottom: 1px;
}

.hotel_package_box .pro_info:hover h2 {
	text-decoration: underline;
}

#safe_info_common {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: none;
}

#safe_info_common .safe_img_common {
	position: relative;
}

#safe_info_common .safe_img_common .info {
	width: 600px;
	height: 580px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: 100px;
	margin-left: -300px;
}

#safe_info_common .safe_img_common .safe_close_c {
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: 280px;
	cursor: pointer;
}

.safe_bg {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

/**展开收起效果**/
.moreFilter {
	position: relative;
	margin-bottom: 10px;
	border-top: 1px #ececec solid;
	height: 27px;
	text-align: center;
}

.moreFilter>a {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	line-height: 27px;
	color: #415F8C;
	border: 1px solid #E0E0E0;
	border-top-color: #e0e0e0;
	border-top-style: solid;
	border-top-width: 1px;
	border-radius: 0 0 8px 8px;
	border-top: none;
	background-color: #F6F9FE;
	display: inline-block
}

.moreFilter .dian {
	display: inline-block;
	width: 2px;
	height: 2px;
	background-color: #2477E3;
	margin: 0 5px 5px
}

.moreFilter .number {
	color: #2477E3;
	font-size: 14px;
	font-weight: 700
}

.icon-double-arrow {
	font-size: 12px;
	margin-left: 8px;
	margin-top: -3px;
	transform: scale(.8)
}

.icon-rotateX-180 {
	transform: rotateX(180deg) scale(.8);
}

/**酒店订单填写页右边盒子样式**/
#side_box {
	width: 275px;
	position: fixed;
	margin-left: 930px;
}

#side_box .side-top-title {
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	background: #2476e3;
}

#side_box .con_detail,.side_box .con_btn {
	width: 100%;
}

#side_box .con_detail ul li {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-bottom: 1px dashed #ddd;
}

#side_box  span {
	font-size: 14px;
	color: #333;
}

#side_box  span.left_text {
	max-width: 160px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
}

#side_box .con_btn a {
	width: 128px;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	display: block;
	text-decoration: none;
	background: #ff4602;
	font-size: 18px;
}

#side_box .con_left {
	font-weight: bold;
}

#side_box .total_house,#side_box .total_price,#side_box .to_pay,#side_box .yh_num,#side_box .jf_num
	{
	float: right;
}

#side_box .con_btn {
	padding: 10px 0;
}

#side_box .total_house em {
	font-style: normal;
	color: #fd8429;
	padding: 0 2px;
}

#side_box .to_pay {
	color: #fd8429;
}

#side_box_fee {
	background: #fff;
	border: 1px solid #ddd;
}

/**特价产品温馨提示样式**/
.special_price_tis {
	background: #fff;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
}

.special_price_tis h2 {
	color: #333;
	font-weight: bold;
}